# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

#trigger the workflow
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    #step 1: checkout code
    - uses: actions/checkout@v2
    
    #step 2: setup python env
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"


    #step 3: Install dependencies
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    #step 4: run tests
    - name: Test with pytest
      run: |
        pytest
